extends ../../../layouts/index

block contenido
    div(class="flex justify-center items-center h-auto")
        div(class="bg-white w-3/5 rounded-xl p-5")
            div.bg-black lhaf
            h1=titulo