nav(class="flex-1")
        nav(class="bg-slate-800 text-gray-100 flex justify-between items-center p-4 w-full text-lg font-semibold")
            div Bienvenido #{nombre}
            div
                i(class="fas fa-user-circle mr-4 text-xl")
                i(class="fas fa-cog text-xl")