sidebar.block
    div(class="bg-slate-800 text-gray-100 w-64 flex flex-col h-screen")
        div(class="p-4 font-bold text-lg") Logo
        nav(class="flex-1 overflow-y-auto")
            ul
                //- Inicio
                li(class="px-4 py-4 border-b border-gray-700 hover:bg-gray-700 transition duration-300 ease-in-out")
                    a(href="/inicio" class="block")
                        i(class="fas fa-home mr-2")
                        span Inicio
                //- Estudiantes
                li(class="px-4 py-4 border-b border-gray-700 transition duration-300 ease-in-out")
                    div(class="flex items-center justify-between")
                        div
                            i(class="fas fa-users mr-2")
                            span Estudiantes
                        i(class="fas fa-chevron-down submenu-toggle cursor-pointer")
                    div(class="submenu hidden")
                        a(href="/estudiantes" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-tasks mr-2")
                            span Ver Estudiantes
                        a(href="/estudiantes/inscribir" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-user-plus mr-2")
                            span Inscribir Estudiante
                //- Pagos
                li(class="px-4 py-4 border-b border-gray-700 transition duration-300 ease-in-out")
                    div(class="flex items-center justify-between")
                        div
                            i(class="fas fa-money-bill mr-2")
                            span Pagos
                        i(class="fas fa-chevron-down submenu-toggle cursor-pointer")
                    div(class="submenu hidden")
                        a(href="/pagos" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-tasks mr-2")
                            span Administrar Pagos
                        a(href="/pagos/nuevo" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-cash-register mr-2")
                            span Nuevo Pago
                //- Mantenimientos
                li(class="px-4 py-4 border-b border-gray-700 transition duration-300 ease-in-out")
                    div(class="flex items-center justify-between")
                        div
                            i(class="fas fa-square-plus mr-2")
                            span Mantenimientos
                        i(class="fas fa-chevron-down submenu-toggle cursor-pointer")
                    div(class="submenu hidden")
                        a(href="/cursos" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-chalkboard-user mr-2")
                            span Cursos
                        a(href="/grados" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-medal mr-2")
                            span Grados
                        a(href="/carreras" class="block px-4 py-4 hover:bg-gray-700 transition duration-300 ease-in-out")
                            i(class="fas fa-graduation-cap mr-2")
                            span Carrera
                //- Notas
                li(class="px-4 py-4 border-b border-gray-700 hover:bg-gray-700 transition duration-300 ease-in-out")
                    a(href="notas" class="block")
                        i(class="fas fa-file-lines mr-2")
                        span Notas
                //- Reportes
                li(class="px-4 py-4 border-b border-gray-700 hover:bg-gray-700 transition duration-300 ease-in-out")
                    a(href="reportes" class="block")
                        i(class="fas fa-file-pdf mr-2")
                        span Reportes
                //- Configuración
                li(class="px-4 py-4 border-b border-gray-700 hover:bg-gray-700 transition duration-300 ease-in-out")
                    a(href="configuracion" class="block")
                        i(class="fas fa-gear mr-2")
                        span Configuración

script.
    document.addEventListener('DOMContentLoaded', function() {
        const submenus = document.querySelectorAll('.submenu');
        const submenuToggles = document.querySelectorAll('.submenu-toggle');

        submenuToggles.forEach((toggle, index) => {
            toggle.addEventListener('click', (event) => {
                event.preventDefault(); // Previene el comportamiento por defecto del enlace

                const submenu = submenus[index];
                const isCurrentlyOpen = !submenu.classList.contains('hidden');

                // Cierra todos los submenús y restablece los iconos
                submenus.forEach(menu => menu.classList.add('hidden'));
                submenuToggles.forEach(otherToggle => {
                    otherToggle.classList.remove('fa-chevron-up');
                    otherToggle.classList.add('fa-chevron-down');
                });

                // Si el submenú clickeado no estaba abierto, ábrelo
                if (!isCurrentlyOpen) {
                    submenu.classList.remove('hidden');
                    toggle.classList.remove('fa-chevron-down');
                    toggle.classList.add('fa-chevron-up');
                }
            });
        });
    });